In [19]:
import pandas as pd
import matplotlib.pyplot as plt
import dataframe_image as dfi

In [20]:
data = pd.read_csv('C:\\Users\\roadr\\GaTech\\Popular_Baby_Names.csv')

In [21]:
data.head()
data["Child's First Name"] = data["Child's First Name"].str.upper()

In [22]:
data['Ethnicity'] = data['Ethnicity'].replace({
    'ASIAN AND PACI': 'ASIAN AND PACIFIC ISLANDER',
    'BLACK NON HISP': 'BLACK NON HISPANIC',
    'WHITE NON HISP': 'WHITE NON HISPANIC'
})

In [23]:
# Group the data by Ethnicity and Child's First Name, summing up the counts
aggregated_counts = data.groupby(['Ethnicity', "Child's First Name"])['Count'].sum().reset_index()

# Rename columns for clarity
aggregated_counts.columns = ['Ethnicity', "Child's First Name", 'Total Count']

# Sort the data for better readability
aggregated_counts = aggregated_counts.sort_values(by=['Ethnicity', 'Total Count'], ascending=[True, False])

In [24]:
aggregated_counts

                       Ethnicity Child's First Name  Total Count
226   ASIAN AND PACIFIC ISLANDER              ETHAN         5677
310   ASIAN AND PACIFIC ISLANDER             JAYDEN         5581
511   ASIAN AND PACIFIC ISLANDER               RYAN         5214
404   ASIAN AND PACIFIC ISLANDER              LUCAS         4356
156   ASIAN AND PACIFIC ISLANDER              CHLOE         4099
...                          ...                ...          ...
3288          WHITE NON HISPANIC            VIVIANA           10
3290          WHITE NON HISPANIC             WALKER           10
3347          WHITE NON HISPANIC             ZAINAB           10
3348          WHITE NON HISPANIC            ZAKARIA           10
3350          WHITE NON HISPANIC               ZANE           10

[3358 rows x 3 columns]

In [25]:
most_popular_name_byYear = data.loc[data.groupby(['Year of Birth', 'Ethnicity', 'Gender'])['Count'].idxmax(), ['Ethnicity', "Child's First Name", 'Count', 'Year of Birth', 'Gender']]

pd.set_option('display.max_rows', None)
pd.set_option('display.max_columns', None)
pd.set_option('display.width', None)
pd.set_option('display.max_colwidth', 0)

most_popular_name_byYear

,Ethnicity,Child's First Name,Count,Year of Birth,Gender
1090,ASIAN AND PACIFIC ISLANDER,SOPHIA,119,2011,FEMALE
599,ASIAN AND PACIFIC ISLANDER,ETHAN,177,2011,MALE
1218,BLACK NON HISPANIC,MADISON,176,2011,FEMALE
795,BLACK NON HISPANIC,JAYDEN,184,2011,MALE
22,HISPANIC,ISABELLA,331,2011,FEMALE
3447,HISPANIC,JAYDEN,426,2011,MALE
322,WHITE NON HISPANIC,ESTHER,224,2011,FEMALE
1849,WHITE NON HISPANIC,MICHAEL,292,2011,MALE
4000,ASIAN AND PACIFIC ISLANDER,CHLOE,172,2012,FEMALE
5129,ASIAN AND PACIFIC ISLANDER,RYAN,197,2012,MALE
4237,BLACK NON HISPANIC,MADISON,159,2012,FEMALE
5244,BLACK NON HISPANIC,JAYDEN,171,2012,MALE
4434,HISPANIC,ISABELLA,327,2012,FEMALE
5489,HISPANIC,JAYDEN,364,2012,MALE
4722,WHITE NON HISPANIC,EMMA,228,2012,FEMALE
5791,WHITE NON HISPANIC,JOSEPH,300,2012,MALE
6595,ASIAN AND PACIFIC ISLANDER,SOPHIA,124,2013,FEMALE
9472,ASIAN AND PACIFIC ISLANDER,JAYDEN,220,2013,MALE
6996,BLACK NON HISPANIC,MADISON,134,2013,FEMALE
9931,BLACK NON HISPANIC,ETHAN,146,2013,MALE
7607,HISPANIC,ISABELLA,326,2013,FEMALE
6142,HISPANIC,JAYDEN,352,2013,MALE
6800,WHITE NON HISPANIC,OLIVIA,233,2013,FEMALE
9612,WHITE NON HISPANIC,DAVID,304,2013,MALE
12359,ASIAN AND PACIFIC ISLANDER,OLIVIA,141,2014,FEMALE
14454,ASIAN AND PACIFIC ISLANDER,JAYDEN,187,2014,MALE
12814,BLACK NON HISPANIC,MADISON,130,2014,FEMALE
14605,BLACK NON HISPANIC,ETHAN,138,2014,MALE
13454,HISPANIC,ISABELLA,331,2014,FEMALE
7574,HISPANIC,LIAM,312,2014,MALE
14258,WHITE NON HISPANIC,OLIVIA,248,2014,FEMALE
15183,WHITE NON HISPANIC,JOSEPH,300,2014,MALE
32194,ASIAN AND PACIFIC ISLANDER,OLIVIA,188,2015,FEMALE
30669,ASIAN AND PACIFIC ISLANDER,JAYDEN,190,2015,MALE
34029,BLACK NON HISPANIC,MADISON,128,2015,FEMALE
32493,BLACK NON HISPANIC,NOAH,163,2015,MALE
30844,HISPANIC,ISABELLA,307,2015,FEMALE
31934,HISPANIC,LIAM,356,2015,MALE
31540,WHITE NON HISPANIC,EMMA,225,2015,FEMALE
30817,WHITE NON HISPANIC,DAVID,299,2015,MALE
31991,ASIAN AND PACIFIC ISLANDER,OLIVIA,172,2016,FEMALE
32052,ASIAN AND PACIFIC ISLANDER,ETHAN,193,2016,MALE
33383,BLACK NON HISPANIC,AVA,109,2016,FEMALE
31093,BLACK NON HISPANIC,NOAH,148,2016,MALE
32510,HISPANIC,ISABELLA,276,2016,FEMALE
31488,HISPANIC,LIAM,387,2016,MALE
31758,WHITE NON HISPANIC,OLIVIA,230,2016,FEMALE
30526,WHITE NON HISPANIC,JOSEPH,261,2016,MALE
6157,ASIAN AND PACIFIC ISLANDER,OLIVIA,136,2017,FEMALE
24436,ASIAN AND PACIFIC ISLANDER,MUHAMMAD,157,2017,MALE
23594,BLACK NON HISPANIC,AVA,113,2017,FEMALE
24613,BLACK NON HISPANIC,NOAH,148,2017,MALE
23765,HISPANIC,MIA,250,2017,FEMALE
24785,HISPANIC,LIAM,407,2017,MALE
24048,WHITE NON HISPANIC,ESTHER,260,2017,FEMALE
25059,WHITE NON HISPANIC,DAVID,282,2017,MALE
48260,ASIAN AND PACIFIC ISLANDER,CHLOE,119,2018,FEMALE
48086,ASIAN AND PACIFIC ISLANDER,MUHAMMAD,164,2018,MALE
49344,BLACK NON HISPANIC,AVA,109,2018,FEMALE
49172,BLACK NON HISPANIC,NOAH,161,2018,MALE
47816,HISPANIC,ISABELLA,285,2018,FEMALE
6438,HISPANIC,LIAM,399,2018,MALE
48787,WHITE NON HISPANIC,ESTHER,246,2018,FEMALE
48422,WHITE NON HISPANIC,DAVID,274,2018,MALE
38250,ASIAN AND PACIFIC ISLANDER,CHLOE,131,2019,FEMALE
38075,ASIAN AND PACIFIC ISLANDER,ETHAN,154,2019,MALE
39320,BLACK NON HISPANIC,AVA,100,2019,FEMALE
39152,BLACK NON HISPANIC,NOAH,135,2019,MALE
37821,HISPANIC,ISABELLA,231,2019,FEMALE
37557,HISPANIC,LIAM,423,2019,MALE
38769,WHITE NON HISPANIC,CHAYA,209,2019,FEMALE
38407,WHITE NON HISPANIC,DAVID,252,2019,MALE
58231,ASIAN AND PACIFIC ISLANDER,CHLOE,100,2020,FEMALE
58085,ASIAN AND PACIFIC ISLANDER,ETHAN,136,2020,MALE
59199,BLACK NON HISPANIC,AVA,92,2020,FEMALE
59047,BLACK NON HISPANIC,NOAH,118,2020,MALE
57846,HISPANIC,ISABELLA,203,2020,FEMALE
57582,HISPANIC,LIAM,374,2020,MALE
58688,WHITE NON HISPANIC,ESTHER,215,2020,FEMALE
58358,WHITE NON HISPANIC,JOSEPH,232,2020,MALE
60015,ASIAN AND PACIFIC ISLANDER,CHLOE,71,2021,FEMALE
59883,ASIAN AND PACIFIC ISLANDER,MUHAMMAD,138,2021,MALE
60995,BLACK NON HISPANIC,AVA,69,2021,FEMALE
60851,BLACK NON HISPANIC,NOAH,119,2021,MALE
59619,HISPANIC,ISABELLA,175,2021,FEMALE
59352,HISPANIC,LIAM,446,2021,MALE
60486,WHITE NON HISPANIC,ESTHER,210,2021,FEMALE
60133,WHITE NON HISPANIC,MOSHE,240,2021,MALE

In [ ]:
test = aggregated_counts.groupby(["Ethnicity"])['Total Count']

In [27]:
# Group the data by Ethnicity and calculate the variance of the Count column
variance_by_ethnicity = aggregated_counts.groupby(["Ethnicity"])['Total Count'].var()

In [28]:
# Convert the result to a DataFrame for better readability
variance_by_ethnicity_df = variance_by_ethnicity.reset_index()
variance_by_ethnicity_df.columns = ['Ethnicity', 'Variance']

# Display the results
variance_by_ethnicity_df

                    Ethnicity      Variance
0  ASIAN AND PACIFIC ISLANDER  5.157857e+05
1  BLACK NON HISPANIC          4.999131e+05
2  HISPANIC                    1.804410e+06
3  WHITE NON HISPANIC          1.655220e+06

In [98]:
percentage_by_race = data.groupby('Ethnicity')['Count'].count()
percentage_by_race

Ethnicity
ASIAN AND PACIFIC ISLANDER    11866
BLACK NON HISPANIC            12498
HISPANIC                      20365
WHITE NON HISPANIC            24485
Name: Count, dtype: int64

In [99]:
dfi.export(variance_by_ethnicity_df, 'variance.png')